html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: MicroSoft Yahei Light;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    font-family: 'Rubik', sans-serif;
}
#landing-page {
    width: 100%;
    height: 900px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99;
    color: #fff;
}
#landing-page .header {
    height: 10%;
    width: 100%;
    display: flex;

}
.header-list {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;

}
#logo-box {
    display: inline-block;
}
.header-list ul {
    display: flex;
    flex: 1;
    align-items: center;
}
.header-list .left-part, .header-list .right-part {
    text-align: center;
}
.header-list ul li {
    flex: 1;
    font-size: 24px;

}
#landing-page .body {
    height: 90%;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.body .left-part {
    flex: 1;
    width: 50%;
    display: flex;
    align-items: center;
}
.left-part > .content > p {
    margin: 16px;
    font-size: 48px;
    font-family: MicroSoft Yahei light;
}
.left-part > .content div {
    margin-left: 20%;
    width: 100px;
    height: 60px;
    padding: 8px;
    border: 4px white solid;
}
.left-part > .content button{
    font-size: 24px;
    height: 100%;
    width: 100%;
    background-color: #ca3e47;
    color: white;
    border: 2px solid black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: MicroSoft Yahei Light;
}
.left-part > .content button:hover {
    background-color: #555555;
    color: white;
  }
.body .right-part {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
}
.right-part > .content {
    height: 100%;
}
.line {
    height: 30%;
    width: 1px;
    background-color: #fff;
    margin: 32px auto;
}
.icons {
    margin: 24px auto;
    font-size: 28px;
    font-weight: 100;
}
#menu {
    width: 100%;
    height: fit-content;
    background: #252525;
    color: white;
}
#menu > .content {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
}

.title {
    text-align: center;
    margin: 0 auto;
    font-size: 56px;
}
#menu-list {
    margin-top: 5%;
    width: 100%;
    height: 90%;
    display: flex;
    border: 2px white solid;
    text-align: left;
}
#menu-list > img {
    width: min-content;
    height: fit-content;
    margin: 16px auto;
}
#menu-list > .left-part {
    width: 50%;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
    border-right: 2px white solid;
}
#menu-list > .right-part {
    flex: 1;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
}
.menu-title {
    text-align: center;
    width: 80%;
    font-size: 24px;
    margin: 0 auto;
    padding-bottom: 12px;
    color: orange;
    border-bottom: yellow 1px solid;
}
.dishes {
    line-height: 24px;
    width: 80%;
    margin: 16px auto 0px auto;
}
.dishes > tr {
    margin: 32px auto;
}
.price {
    text-align: right;
}
.menu_pic {
    margin: 3%;
    border-radius: 50%;
}